*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.calculator-container{
    border: 1px solid green;
    margin-top: 100px;
    width: 310px;
    height: 50%;
    opacity: 0.8;
    margin-left: -.5px;
    border-top-left-radius: 10px;
    background-color:  rgba(0, 0, 0, 0.753);;
    box-shadow: 2px 2px 2px 2px red, -2px -2px 2px 2px red;
.sub-containerbody{
    width: 308px;
    height: auto;
    opacity: .9;
        border-top-left-radius: 10px;
        border: 1px solid  rgba(128, 0, 0, 0.589);;
        margin-left: -2px;
.calculator-screen{
    width: 310px;
    height: auto;
    margin-left: -.1px;
    background-color: black;
    padding: 25px;
    border-top-left-radius: 10px;
}
#myscreen{
    text-align: right;
    padding: 10px;
    width: 310px;
    height: auto;
    margin-left: -25px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    outline: none;
    border: none;
    font-size: 20px;
    border-top: 1px solid lightgrey;


}
.calculator-buttons{
    width: 310px;
    height: auto;
    margin-left: -1px;
    .input-one{
        display: flex;
        justify-content: space-around;
        
    }
    .input-one input{
        padding: 18px 17.5px;
    }
    
    .input-two{
        display: flex;
        justify-content: space-around;
    }
    .input-two input{
        padding: 18px 18px;

    }

    .input-three{
        display: flex;
        justify-content: space-around;
    }
    .input-three input{
        padding: 18px 20px;
    }
    .input-four{
        display: flex;
        justify-content: space-around;
    }
    .input-four input{
        padding: 18px 18px;
    }
    .input-five{
        display: flex;
        justify-content: space-around;
    }
    .input-five input{
        padding: 18px 22.5px;
    }
    .input-six{
        display: flex;
        justify-content: space-around;
    }
    .input-six input{
        padding: 18px 22.5px;
    }
    .input-seven{
        display: flex;
        justify-content: space-around;
    }
    .input-seven input{
        padding: 18px 20.5px;
    }
    .input-eight{
        display: flex;
        justify-content: space-around;
    }

    .input-eight input{
        padding: 19px 70px;

    }
    input{
        border-spacing: 3px;
        border-radius: 10px;
        border-style: ridge;
        border-width: 4px;
        background-color: mediumseagreen;
        color: red;
        font-weight: bold;
        &:hover{
            background-color: orangered;
            color: white;
            font-weight: 700;
        }
    
    }
}
    }
}